<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>段子内涵</title>
    <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="css/share.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.js"></script>
</head>
<body>

<div class="top">
    <center>
        <ul>
            <li><a href="#">推荐</a></li>
            <li><a href="#">新鲜</a></li>
            <li><a href="#">穿越</a></li>
            <li><a href="#"><b>搞笑图</b></a></li>
            <li><a href="#">神评论</a></li>
        </ul>
    </center>
</div>

<div style="height: 30px;line-height: 30px;"></div>

<div class="container">
    <div id="content" class="content clearfix">
        <div class="main">
            <div class="joke-list">
                <div class="joke-list-item" id="joke-2905345" jid="2905345" juid="55219891">
                    <div class="joke-list-item-main">
                        <div class="joke-main-header">
                            <div class="joke-user-info">
                                <a href="https://www.hahamx.cn/user/55219891" target="_blank"
                                   class="fl joke-user-info-avatar"><img class="joke-user-info-avatar-img"
                                                                         src="img/avatar-demo.png"></a>
                                <div>
                                    <a class="inline-block joke-user-info-nickname"
                                       href="https://www.hahamx.cn/user/55219891" target="_blank">津川家的野望</a>
                                    <a href="https://www.hahamx.cn/user/score/55219891" target="_blank"
                                       class="inline-block joke-user-info-level icon-lv icon-2"
                                       title="段友等级"></a></div>
                                <div>
                                    <span class="joke-user-info-create-time">10-24 10:07</span>
                                </div>
                            </div>
                            <div class="joke-list-item-toolkits">
                                <a href="https://www.hahamx.cn/topic/1" target="_blank"
                                   class="fr inline-block joke-list-item-topic">美女福利</a>
                                <!-- 查看全文 -->
                            </div>
                        </div>
                        <div class="joke-main-content clearfix">
                            <a href="https://www.hahamx.cn/joke/2905345" target="_blank">
                                <p class="word-wrap joke-main-content-text">分享图片</p>
                            </a>


                            <!-- 列表页 单图 -->
                            <!-- 大图  默认大图 点击缩小放大 -->
                            <a href="javascript:void(0);" data-path="2019/10/24/"
                               class="clearfix joke-main-img-wrapper joke-main-img-big-wrapper joke-main-img-small-wrapper"
                               data-filename="2905345_88c0a33ff78bdc40ef05729bc2d60e45_1571882834.jpg">
                                <img class="joke-main-img lazy"
                                     src="img/2905345_88c0a33ff78bdc40ef05729bc2d60e45_1571882834.jpg"
                                     data-original="//image.hahamx.cn/2019/10/24/normal/2905345_88c0a33ff78bdc40ef05729bc2d60e45_1571882834.jpg">
                                <span class="joke-main-img-corner"></span>
                            </a>

                        </div>

                        <div class="joke-list-item-footer">
                            <div class="joke-main-misc clearfix">
                                <div class="fl">
                                    <a href="javascript:;" title="称赞" class="btn-icon-good" data="g">492</a>
                                    <a href="javascript:;" title="鄙视" class="btn-icon-bad" data="b">19</a>
                                    <a class="btn-icon-collect" href="javascript:;" data="f|0">收藏</a>
                                </div>


                                <div class="fr joke-main-misc-right">
                                    <a href="javascript:;" class="joke-main-misc-report" data="r">举报</a>
                                    <div class="joke-main-misc-report-layer" style="left: 0px; display: none;">
                                        <a href="javascript:;" class="joke-main-misc-report-item" data="r-1">广告</a>
                                        <a href="javascript:;" class="joke-main-misc-report-item" data="r-2">看过100遍了</a>
                                        <a href="javascript:;" class="joke-main-misc-report-item" data="r-3">内容不和谐</a>
                                        <a href="javascript:;" class="joke-main-misc-report-item" data="r-4">其他原因</a>
                                    </div>
                                    <div class="bdsharebuttonbox inline-block bdshare-button-style1-24"
                                         data-bd-bind="1571963445131">
                                        <a href="javascript:;" class="joke-misc-share bds_more" data="share"
                                           data-cmd="more">分享</a>
                                    </div>
                                    <a href="javascript:;" data="c" title="展开评论" class="inline-block btn-icon-comment">32</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- 神评论 -->
                    <div class="joke-list-item-comment-all-wrapper">
                        <div class="clearfix">
                            <div class="joke-list-item-comment-bubble">
                                <span class="joke-list-item-comment-bubble-title"></span>
                                <div class="joke-list-item-comment-bubble-text joke-comment-items">
                                    <div class="joke-comment-item" id="comment-item-god-14812265">
                                        <div class="joke-comment_header">
                                            <div class="joke-comment_header-user_info">
                                                <a href="https://www.hahamx.cn/user/8872930" target="_blank"
                                                   class="joke-comment_header-user_info-link">
                                                    <img src="../img/1565605167.jpg"
                                                         class="joke-comment_header-user_info-avatar">
                                                </a>
                                                <a class="joke-comment_header-user_info-name"
                                                   href="https://www.hahamx.cn/user/8872930" target="_blank">我的胸肌会动:</a>
                                                <div class="joke-comment_header-buttons">
                                                    <a href="javascript:;" class="joke-comment_header-buttons-light "
                                                       data="14812265&amp;8872930">104</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="joke-list-item-comment-bubble-content">两腿之间是不是夹着什么没弹出来？<a
                                                href="javascript:;"
                                                class="joke-comment_header-buttons-reply btn-reply-comment"
                                                data="我的胸肌会动&amp;14812265&amp;8872930">[回复]</a></div>
                                    </div>
                                    <div class="joke-comment-item" id="comment-item-god-14812818">
                                        <div class="joke-comment_header">
                                            <div class="joke-comment_header-user_info">
                                                <a href="https://www.hahamx.cn/user/27436223" target="_blank"
                                                   class="joke-comment_header-user_info-link">
                                                    <img src="../img/1543592673.jpg"
                                                         class="joke-comment_header-user_info-avatar">
                                                </a>
                                                <a class="joke-comment_header-user_info-name"
                                                   href="https://www.hahamx.cn/user/27436223"
                                                   target="_blank">阿拉伯养猪大户:</a>
                                                <div class="joke-comment_header-buttons">
                                                    <a href="javascript:;" class="joke-comment_header-buttons-light "
                                                       data="14812818&amp;27436223">62</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="joke-list-item-comment-bubble-content">本想弄精相迸出，怎奈不与当年同。
                                            不惧众叹妖风起，只怕阳根能纹龙。<a href="javascript:;"
                                                               class="joke-comment_header-buttons-reply btn-reply-comment"
                                                               data="阿拉伯养猪大户&amp;14812818&amp;27436223">[回复]</a></div>
                                    </div>
                                    <div class="joke-comment-item" id="comment-item-god-14812559">
                                        <div class="joke-comment_header">
                                            <div class="joke-comment_header-user_info">
                                                <a href="https://www.hahamx.cn/user/17810060" target="_blank"
                                                   class="joke-comment_header-user_info-link">
                                                    <img src="../img/20.png"
                                                         class="joke-comment_header-user_info-avatar">
                                                </a>
                                                <a class="joke-comment_header-user_info-name"
                                                   href="https://www.hahamx.cn/user/17810060" target="_blank">著名湿人:</a>
                                                <div class="joke-comment_header-buttons">
                                                    <a href="javascript:;" class="joke-comment_header-buttons-light "
                                                       data="14812559&amp;17810060">57</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="joke-list-item-comment-bubble-content">玉手轻支杨柳腰，顾镜半掩秀分毫。
                                            前灯已是傲人物，后竟更有断根桥。<a href="javascript:;"
                                                               class="joke-comment_header-buttons-reply btn-reply-comment"
                                                               data="著名湿人&amp;14812559&amp;17810060">[回复]</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="joke-list-item-comment-wrapper" style="display: none;"></div>
                    </div>
                </div>

            </div>

        </div>
        <div class="fl sidebar">
            <div class="sidebar-inner" style="position: relative; bottom: initial; right: initial;">

                <div class="rightside-recommendation" style="margin-top: 0px;">
                    <div class="clearfix">
                        <h3 class="fl rightside-recommendation-title">蘑菇推荐</h3>
                        <a class="fr rightside-recommendation-more" target="_blank"
                           href="https://www.hahamx.cn/recommend">更多</a>
                    </div>
                    <div class="rightside-recommendation-list" id="rightside-recommendation-list">
                        <div class="item word-wrap clearfix">
                            <div class="clearfix"><a href="https://www.hahamx.cn/joke/2905471" target="_blank"
                                                     class="fl"><span class="item-title">分享图片</span>
                                <div class="item-pic-wrapper">
                                    <img class="item-pic"
                                         src="../img/2905471_044994a078e7eb7184f8f92156480e3e_1571925885.jpg">
                                </div>
                            </a></div>
                            <div class="item-infos">
                                <div class="fl"><a class="item-recommender" target="_blank"
                                                   href="https://www.hahamx.cn/user/27436223">阿拉伯养猪大户</a>
                                    推荐于 <span>10-24 22:16</span></div>
                                <a class="fr item-infos-comment" target="_blank"
                                   href="https://www.hahamx.cn/joke/2905471">
                                    <span class="">评论</span><span>0</span></a><a class="fr item-infos-star"
                                                                                 target="_blank"
                                                                                 href="https://www.hahamx.cn/joke/2905471">
                                <span>0</span>点赞</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="top-10" id="top-10">

                    <div class="clearfix top-10-header">
                        <h3 class="fl top-10-header-text">发帖排行榜</h3>
                        <ul class="top-10-tab fr clearfix" id="top-10-tabs">
                            <li class="top-10-tab-item"><a rel="top-10-table-1" class="top-10-tab-item-link current"
                                                           href="https://www.hahamx.cn/###">今日</a></li>
                            <li class="top-10-tab-item"><a rel="top-10-table-2" class="top-10-tab-item-link"
                                                           href="https://www.hahamx.cn/###">昨日</a></li>
                        </ul>
                    </div>

                    <div>
                        <table id="top-10-table-1" class="top-10-list-content-table">
                            <thead>
                            <tr>
                                <th class="top-10-table-list-number top-10-list-content-table-th">
                                    排名
                                </th>
                                <th class="top-10-table-list-nickname top-10-list-content-table-th">
                                    昵称/等级
                                </th>
                                <th class="top-10-table-list-joke top-10-list-content-table-th">
                                    发帖数
                                </th>
                                <th class="top-10-list-content-table-th">
                                    变化
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd rank-one">
                                <td><strong class="highlight">1</strong></td>
                                <td><a href="https://www.hahamx.cn/user/40467112" target="_blank">左_岸</a>
                                    <a href="https://www.hahamx.cn/user/score/40467112" class="level icon-lv icon-25"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>33</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr class="rank-two">
                                <td><strong class="highlight">2</strong></td>
                                <td><a href="https://www.hahamx.cn/user/6758003" target="_blank">饣色性乜</a>
                                    <a href="https://www.hahamx.cn/user/score/6758003" class="level icon-lv icon-32"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>12</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr class="odd rank-three">
                                <td><strong class="highlight">3</strong></td>
                                <td><a href="https://www.hahamx.cn/user/28251228" target="_blank">水的不得了</a>
                                    <a href="https://www.hahamx.cn/user/score/28251228" class="level icon-lv icon-36"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>5</td>
                                <td class="table-list-status-down"></td>
                            </tr>
                            <tr>
                                <td><strong>4</strong></td>
                                <td><a href="https://www.hahamx.cn/user/12685345" target="_blank">马云夸我富</a>
                                    <a href="https://www.hahamx.cn/user/score/12685345" class="level icon-lv icon-22"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>5</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table id="top-10-table-2" style="display: none;" class="top-10-list-content-table">
                            <thead>
                            <tr>
                                <th class="top-10-table-list-number top-10-list-content-table-th">
                                    排名
                                </th>
                                <th class="top-10-table-list-nickname top-10-list-content-table-th">
                                    昵称/等级
                                </th>
                                <th class="top-10-table-list-joke top-10-list-content-table-th">
                                    发帖数
                                </th>
                                <th class="top-10-list-content-table-th">
                                    变化
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd rank-one">
                                <td><strong class="highlight">1</strong></td>
                                <td><a href="https://www.hahamx.cn/user/28251228" target="_blank">水的不得了...</a>
                                    <a href="https://www.hahamx.cn/user/score/28251228" class="level icon-lv icon-36"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>28</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr class="rank-two">
                                <td><strong class="highlight">2</strong></td>
                                <td><a href="https://www.hahamx.cn/user/40467112" target="_blank">左_岸...</a>
                                    <a href="https://www.hahamx.cn/user/score/40467112" class="level icon-lv icon-25"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>23</td>
                                <td class="table-list-status-down"></td>
                            </tr>
                            <tr class="odd rank-three">
                                <td><strong class="highlight">3</strong></td>
                                <td><a href="https://www.hahamx.cn/user/6758003" target="_blank">饣色性乜...</a>
                                    <a href="https://www.hahamx.cn/user/score/6758003" class="level icon-lv icon-32"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>11</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr>
                                <td><strong>4</strong></td>
                                <td><a href="https://www.hahamx.cn/user/54230277" target="_blank">土掉渣渣...</a>
                                    <a href="https://www.hahamx.cn/user/score/54230277" class="level icon-lv icon-5"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>9</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr class="odd">
                                <td><strong>5</strong></td>
                                <td><a href="https://www.hahamx.cn/user/41448124" target="_blank">哈哈哈哈萨克...</a>
                                    <a href="https://www.hahamx.cn/user/score/41448124" class="level icon-lv icon-9"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>8</td>
                                <td class="table-list-status-down"></td>
                            </tr>
                            <tr>
                                <td><strong>6</strong></td>
                                <td><a href="https://www.hahamx.cn/user/55083465" target="_blank">起名太麻烦...</a>
                                    <a href="https://www.hahamx.cn/user/score/55083465" class="level icon-lv icon-9"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>8</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr class="odd">
                                <td><strong>7</strong></td>
                                <td><a href="https://www.hahamx.cn/user/55219891" target="_blank">津川家的野望...</a>
                                    <a href="https://www.hahamx.cn/user/score/55219891" class="level icon-lv icon-2"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>8</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr>
                                <td><strong>8</strong></td>
                                <td><a href="https://www.hahamx.cn/user/2023003" target="_blank">蓝色虚拟空间...</a>
                                    <a href="https://www.hahamx.cn/user/score/2023003" class="level icon-lv icon-43"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>7</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr class="odd">
                                <td><strong>9</strong></td>
                                <td><a href="https://www.hahamx.cn/user/40088981" target="_blank">我一生渴望被人包...</a>
                                    <a href="https://www.hahamx.cn/user/score/40088981" class="level icon-lv icon-23"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>6</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            <tr>
                                <td><strong>10</strong></td>
                                <td><a href="https://www.hahamx.cn/user/9946675" target="_blank">邪恶悠悠...</a>
                                    <a href="https://www.hahamx.cn/user/score/9946675" class="level icon-lv icon-33"
                                       target="_blank" title="哈友等级"></a></td>
                                <td>5</td>
                                <td class="table-list-status-up"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="hot-topics" id="hotTopics">
                    <ul class="hot-topics-tabs clearfix" id="hot-topics-tabs">
                        <li class="hot-topics-tabs-item" pannelid="pannel1">
                            <a class="hot-topics-tabs-item-link current" href="https://www.hahamx.cn/###">热门</a>
                        </li>
                        <li class="hot-topics-tabs-item" pannelid="pannel2">
                            <a class="hot-topics-tabs-item-link" href="https://www.hahamx.cn/###">图片</a>
                        </li>
                        <li class="hot-topics-tabs-item hot-topics-tabs-item-current" pannelid="pannel3">
                            <a class="hot-topics-tabs-item-link" href="https://www.hahamx.cn/###">段子</a>
                        </li>
                        <li class="hot-topics-tabs-item" pannelid="pannel4">
                            <a class="hot-topics-tabs-item-link" href="https://www.hahamx.cn/###">其他</a>
                        </li>
                    </ul>
                    <div class="hot-topics-tabs-main clearfix">
                        <div class="hot-topics-tabs-main-panel" id="pannel1">
                            <ul>
                                <li><a href="https://www.hahamx.cn/topic/1" target="_blank">#妹子图美女福利顶呱呱#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14698" target="_blank">#爆笑段子内涵夫妻小段子#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/1876" target="_blank">#搞笑图片#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/15" target="_blank">#GIF动态图#</a></li>
                                <li><a href="https://www.hahamx.cn/topics" target="_blank">#全部精彩话题#</a></li>
                                <li><a href="https://www.hahamx.cn/comment" target="_blank">#神评论笑哈哈#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14758" target="_blank">#GET正能量小魔仙专区#</a></li>
                                <li><a href="https://www.hahamx.cn/good/week" target="_blank">#7天热门#</a></li>
                                <li><a href="https://www.hahamx.cn/good/month" target="_blank">#30天热门#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14757" target="_blank">#求助专区你懂的#</a></li>
                            </ul>
                        </div>
                        <div class="hot-topics-tabs-main-panel" id="pannel2">
                            <ul>
                                <li><a href="https://www.hahamx.cn/topic/14" target="_blank">#超搞笑图片#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14684" target="_blank">#内涵图#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/15" target="_blank">#Gif动态图#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14667" target="_blank">#恶搞图片#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/1" target="_blank">#美女福利#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14659" target="_blank">#漫画大全#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14696" target="_blank">#搞笑动物#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/13816" target="_blank">#表情包#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/1463" target="_blank">#女神#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/6" target="_blank">#萌宠#</a></li>
                            </ul>
                        </div>
                        <div class="hot-topics-tabs-main-panel current" id="pannel3">
                            <ul>
                                <li><a href="https://www.hahamx.cn/topic/11" target="_blank">#冷笑话#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/13648" target="_blank">#内涵段子#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/13" target="_blank">#糗人糗事#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/8530" target="_blank">#爆笑童语#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14671" target="_blank">#搞笑段子#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14758" target="_blank">#GET正能量#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14756" target="_blank">#节日笑话#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/1658" target="_blank">#荤段子#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/10859" target="_blank">#瞎ＪＢ说#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/2975" target="_blank">#隔壁老王#</a></li>
                            </ul>
                        </div>
                        <div class="hot-topics-tabs-main-panel" id="pannel4">
                            <ul>
                                <li><a href="https://www.hahamx.cn/rising" target="_blank">#上升快#</a></li>
                                <li><a href="https://www.hahamx.cn/good/week" target="_blank">#7天热门#</a></li>
                                <li><a href="https://www.hahamx.cn/good/month" target="_blank">#30天热门#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/11742" target="_blank">#小编说#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/16" target="_blank">#神评论#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/3646" target="_blank">#神吐槽不吐不快系列#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/14659" target="_blank">#漫画大全集中营#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/1" target="_blank">#美女福利#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/15" target="_blank">#Gif动态图#</a></li>
                                <li><a href="https://www.hahamx.cn/topic/11" target="_blank">#冷笑话#</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="footer">
    <div class="footer-links-wrapper">
        <div class="footer-links clearfix" id="footer-links">
            <dl class="fl f-about">
                <dt class="footer-links-caption">关于</dt>
                <dd><a href="https://www.hahamx.cn/about" target="_blank" class="footer-links-item"><span
                        class="footer-links-item-w">关于哈哈</span></a></dd>
                <dd><a href="https://www.hahamx.cn/statement" target="_blank" class="footer-links-item"><span
                        class="footer-links-item-w">免责声明</span></a></dd>
                <dd><a href="https://www.hahamx.cn/###" id="footer-feedback" class="footer-links-item"><span
                        class="footer-links-item-w">意见反馈</span></a></dd>
            </dl>
            <dl class="fl f-join">
                <dt class="footer-links-caption">加入&amp;合作</dt>
                <dd>用户QQ群：683546953</dd>
                <dd>小编招募群：204735383</dd>
                <dd>商务合作：hz@maxthon.net</dd>
            </dl>
            <dl class="fl f-jubao">
                <dt class="footer-links-caption">举报</dt>
                <dd>举报电话：010-80699110</dd>
                <dd>管理QQ: 1510727315</dd>
                <dd>举报邮箱：jubao@maxthon.net</dd>
            </dl>
            <dl class="fl f-product">
                <dt class="footer-links-caption">产品</dt>
                <dd><a href="https://m.hahamx.cn/" target="_blank" class="footer-links-item"><span
                        class="footer-links-item-w">傲游哈哈H5版</span></a></dd>
                <dd><a href="https://www.hahamx.cn/app/index.html" target="_blank" class="footer-links-item"><span
                        class="footer-links-item-w">Android
									客户端</span></a></dd>
                <dd><a href="https://www.hahamx.cn/app/index.html" target="_blank" class="footer-links-item"><span
                        class="footer-links-item-w">iPhone
									客户端</span></a></dd>
            </dl>
            <dl class="fl f-guanzhu">
                <dt class="footer-links-caption">关注公众号</dt>
                <dd><img src="../img/haha_gzh.png" width="74" height="74" alt="公众号二维码"></dd>
            </dl>
        </div>
    </div>
    <div class="footer-friends-links-wrapper">
        <div class="footer-friends-links clearfix">
            <div>
                <span class="footer-friends-caption">友情链接:</span>
                <a href="http://www.maxthon.cn/" target="_blank" class="footer-links-item">傲游浏览器</a>
                <a href="https://i.maxthon.cn/" target="_blank" class="footer-links-item">傲游今日</a>
                <a href="http://fun.iqiyi.com/" target="_blank" class="footer-links-item" title="iqiyi">爱奇艺搞笑</a>
                <a href="http://www.kaolafm.com/" target="_blank" class="footer-links-item" title="考拉FM电台">考拉FM</a>
                <a href="http://www.hao123.com/?tn=55020201_2_hao_pg" target="_blank"
                   class="footer-links-item">hao123导航</a>
                <a href="http://www.gaoxiaogif.com/" target="_blank" class="footer-links-item">搞笑动态图片</a>
                <a href="http://www.laifujiangxiaohua.com/" target="_blank" class="footer-links-item">来福讲笑话</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright-wrapper">
        <div class="footer-copyright">
            <p>
                版权所有
                <span style="font-family: Helvetica;">©</span> 1999-2019 网际傲游（北京）科技有限公司. 京ICP备11048873号-9<a
                    target="_blank" class="copyright-jgwab"
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102002672"><img
                    src="../img/beian.png"
                    alt="" style="vertical-align: text-bottom;">&nbsp;京公网安备 11010102002672号</a>
            </p>
        </div>
    </div>
</div>


</body>
</html>
